{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.10.0"}}},
    {jsx, "3.1.0"},
    cowboy_swagger
]}.

{minimum_otp_vsn, "25"}.

{shell, [
    {config, "config/sys.config"},
    {apps, [fib]}
]}.

{cover_enabled, true}.
{cover_excl_mods, [fib_bench]}.
{cover_opts, [verbose]}.

{project_plugins, [rebar3_proper, rebar3_lint, rebar_alias]}.

{profiles,
    [{test, [
        {deps, [
            {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}},
            meck,
            katt
        ]}
    ]}
    ]}.

{alias, [{test, [{ct, "--sname ct --cover true --sys_config=config/sys.config --readable true"},
                 {proper, "--cover=true -n 250"},
                 dialyzer,
                 lint,
                 {cover, "--verbose true"}]}]}.

{relx, [{sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {include_src, false},
    {extended_start_script, true},
    {release, {fib, {semver, []}}, [fib]}]}.